<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/layout.css'>
    <%- style %>
</head>
<body>
    <%- include('_header') %>

    <%- body %>

    <%- include('_footer') %>
    <!-- <script src='main.js'></script> -->
</body>
</html>