<link rel='stylesheet' type='text/css' media='screen' href='/css/users_profile.css'>

<% if(profile_user.id == locals.user.id ) { %>
    <form action="/users/update/<%=profile_user.id %>" method="POST">
        <input type="text" name="name" value="<%=profile_user.name %>" placeholder="Enter Name" required/>
        <input type="email" name="email" value="<%=profile_user.email %>" placeholder="Enter Email" required/>
        <input type="submit" value="Update"/>
    </form>
<% }else{ %>
    <h1>
        <small>
            <%=profile_user.name %><br>
            <%=profile_user.email %>
        </small>
    </h1>
<% } %>